In [1]:
import csv
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
from scipy.stats import linregress
import json
from datetime import datetime

In [14]:
low_memory=False
file_to_load = "world_mask_mandates.csv"
# Read Purchasing File and store into Pandas data frame
data_raw= pd.read_csv(file_to_load)
data_raw.head()

C:\Users\USApul\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (2,3,39,41,43) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,CountryName,CountryCode,RegionName,RegionCode,Jurisdiction,Date,C1_combined_numeric,C1_combined,C2_combined_numeric,C2_combined,...,StringencyIndex,StringencyIndexForDisplay,StringencyLegacyIndex,StringencyLegacyIndexForDisplay,GovernmentResponseIndex,GovernmentResponseIndexForDisplay,ContainmentHealthIndex,ContainmentHealthIndexForDisplay,EconomicSupportIndex,EconomicSupportIndexForDisplay
0,Aruba,ABW,NaN,NaN,NAT_TOTAL,20200101,0.0,0,0.0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Aruba,ABW,NaN,NaN,NAT_TOTAL,20200102,0.0,0,0.0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Aruba,ABW,NaN,NaN,NAT_TOTAL,20200103,0.0,0,0.0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Aruba,ABW,NaN,NaN,NAT_TOTAL,20200104,0.0,0,0.0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Aruba,ABW,NaN,NaN,NAT_TOTAL,20200105,0.0,0,0.0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [42]:
data_raw['Date'] = pd.to_datetime(data_raw['Date'],format ='%Y%m%d')
data_raw

,CountryName,CountryCode,RegionName,RegionCode,Jurisdiction,Date,C1_combined_numeric,C1_combined,C2_combined_numeric,C2_combined,...,StringencyIndex,StringencyIndexForDisplay,StringencyLegacyIndex,StringencyLegacyIndexForDisplay,GovernmentResponseIndex,GovernmentResponseIndexForDisplay,ContainmentHealthIndex,ContainmentHealthIndexForDisplay,EconomicSupportIndex,EconomicSupportIndexForDisplay
0,Aruba,ABW,NaN,NaN,NAT_TOTAL,2020-01-01,0.0,0,0.0,0,...,0.00,0.00,0.00,0.00,0.0,0.0,0.00,0.00,0.0,0.0
1,Aruba,ABW,NaN,NaN,NAT_TOTAL,2020-01-02,0.0,0,0.0,0,...,0.00,0.00,0.00,0.00,0.0,0.0,0.00,0.00,0.0,0.0
2,Aruba,ABW,NaN,NaN,NAT_TOTAL,2020-01-03,0.0,0,0.0,0,...,0.00,0.00,0.00,0.00,0.0,0.0,0.00,0.00,0.0,0.0
3,Aruba,ABW,NaN,NaN,NAT_TOTAL,2020-01-04,0.0,0,0.0,0,...,0.00,0.00,0.00,0.00,0.0,0.0,0.00,0.00,0.0,0.0
4,Aruba,ABW,NaN,NaN,NAT_TOTAL,2020-01-05,0.0,0,0.0,0,...,0.00,0.00,0.00,0.00,0.0,0.0,0.00,0.00,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
238363,Zimbabwe,ZWE,NaN,NaN,NAT_TOTAL,2022-01-29,0.0,0,0.0,0,...,40.74,40.74,49.52,49.52,40.1,40.1,45.83,45.83,0.0,0.0
238364,Zimbabwe,ZWE,NaN,NaN,NAT_TOTAL,2022-01-30,0.0,0,0.0,0,...,40.74,40.74,49.52,49.52,40.1,40.1,45.83,45.83,0.0,0.0
238365,Zimbabwe,ZWE,NaN,NaN,NAT_TOTAL,2022-01-31,NaN,NaN,NaN,NaN,...,NaN,40.74,NaN,49.52,NaN,40.1,NaN,45.83,NaN,0.0
238366,Zimbabwe,ZWE,NaN,NaN,NAT_TOTAL,2022-02-01,NaN,NaN,NaN,NaN,...,NaN,40.74,NaN,49.52,NaN,40.1,NaN,45.83,NaN,0.0
238367,Zimbabwe,ZWE,NaN,NaN,NAT_TOTAL,2022-02-02,NaN,NaN,NaN,NaN,...,NaN,40.74,NaN,49.52,NaN,40.1,NaN,45.83,NaN,0.0

In [43]:
# data_six = data_raw.loc[['United States', 'Canada','Germany','Sweden','Japan','India']]
data_six_reduced= data_raw[['CountryName','Date','H6_combined_numeric','H6_combined']]
data_six_reduced

       CountryName       Date  H6_combined_numeric H6_combined
0            Aruba 2020-01-01                  0.0           0
1            Aruba 2020-01-02                  0.0           0
2            Aruba 2020-01-03                  0.0           0
3            Aruba 2020-01-04                  0.0           0
4            Aruba 2020-01-05                  0.0           0
...            ...        ...                  ...         ...
238363    Zimbabwe 2022-01-29                  3.0          3G
238364    Zimbabwe 2022-01-30                  3.0          3G
238365    Zimbabwe 2022-01-31                  NaN         NaN
238366    Zimbabwe 2022-02-01                  NaN         NaN
238367    Zimbabwe 2022-02-02                  NaN         NaN

[238368 rows x 4 columns]

In [44]:
data_six_reduced.dtypes

CountryName                    object
Date                   datetime64[ns]
H6_combined_numeric           float64
H6_combined                    object
dtype: object

In [47]:
# Framinf the date range
A = '2020-05-01'
B = '2021-12-31'
data_six_reduced.loc[(data_six_reduced['Date'] <= A) & (data_six_reduced['Date'] <= B)]

       CountryName       Date  H6_combined_numeric H6_combined
0            Aruba 2020-01-01                  0.0           0
1            Aruba 2020-01-02                  0.0           0
2            Aruba 2020-01-03                  0.0           0
3            Aruba 2020-01-04                  0.0           0
4            Aruba 2020-01-05                  0.0           0
...            ...        ...                  ...         ...
237721    Zimbabwe 2020-04-27                  0.0           0
237722    Zimbabwe 2020-04-28                  0.0           0
237723    Zimbabwe 2020-04-29                  0.0           0
237724    Zimbabwe 2020-04-30                  0.0           0
237725    Zimbabwe 2020-05-01                  0.0           0

[38064 rows x 4 columns]