In [4]:
# Importing Dependencies
import os
import glob 
import numpy as np
import seaborn as sns
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import plotly.express as px
plt.style.use('seaborn-darkgrid')
#plt.style.use('dark_background')
plt.rc('figure', figsize=(52,30))
plt.rc('font', size=16)
plt.rc('lines', markersize=16)
import warnings
warnings.filterwarnings('ignore')
import sklearn
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [7]:
# Importing my csv files
mask_df = pd.read_csv('world_mask_mandates.csv')
mask_df

,CountryName,CountryCode,RegionName,RegionCode,Jurisdiction,Date,C1_combined_numeric,C1_combined,C2_combined_numeric,C2_combined,...,StringencyIndex,StringencyIndexForDisplay,StringencyLegacyIndex,StringencyLegacyIndexForDisplay,GovernmentResponseIndex,GovernmentResponseIndexForDisplay,ContainmentHealthIndex,ContainmentHealthIndexForDisplay,EconomicSupportIndex,EconomicSupportIndexForDisplay
0,Aruba,ABW,NaN,NaN,NAT_TOTAL,20200101,0.0,0,0.0,0,...,0.00,0.00,0.00,0.00,0.0,0.0,0.00,0.00,0.0,0.0
1,Aruba,ABW,NaN,NaN,NAT_TOTAL,20200102,0.0,0,0.0,0,...,0.00,0.00,0.00,0.00,0.0,0.0,0.00,0.00,0.0,0.0
2,Aruba,ABW,NaN,NaN,NAT_TOTAL,20200103,0.0,0,0.0,0,...,0.00,0.00,0.00,0.00,0.0,0.0,0.00,0.00,0.0,0.0
3,Aruba,ABW,NaN,NaN,NAT_TOTAL,20200104,0.0,0,0.0,0,...,0.00,0.00,0.00,0.00,0.0,0.0,0.00,0.00,0.0,0.0
4,Aruba,ABW,NaN,NaN,NAT_TOTAL,20200105,0.0,0,0.0,0,...,0.00,0.00,0.00,0.00,0.0,0.0,0.00,0.00,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
238363,Zimbabwe,ZWE,NaN,NaN,NAT_TOTAL,20220129,0.0,0,0.0,0,...,40.74,40.74,49.52,49.52,40.1,40.1,45.83,45.83,0.0,0.0
238364,Zimbabwe,ZWE,NaN,NaN,NAT_TOTAL,20220130,0.0,0,0.0,0,...,40.74,40.74,49.52,49.52,40.1,40.1,45.83,45.83,0.0,0.0
238365,Zimbabwe,ZWE,NaN,NaN,NAT_TOTAL,20220131,NaN,NaN,NaN,NaN,...,NaN,40.74,NaN,49.52,NaN,40.1,NaN,45.83,NaN,0.0
238366,Zimbabwe,ZWE,NaN,NaN,NAT_TOTAL,20220201,NaN,NaN,NaN,NaN,...,NaN,40.74,NaN,49.52,NaN,40.1,NaN,45.83,NaN,0.0
238367,Zimbabwe,ZWE,NaN,NaN,NAT_TOTAL,20220202,NaN,NaN,NaN,NaN,...,NaN,40.74,NaN,49.52,NaN,40.1,NaN,45.83,NaN,0.0

In [8]:
# Importing my csv files
variants_df = pd.read_csv('covid-variants.csv')
variants_df

,location,date,variant,num_sequences,perc_sequences,num_sequences_total
0,Angola,7/6/2020,Alpha,0,0.0,3
1,Angola,7/6/2020,B.1.1.277,0,0.0,3
2,Angola,7/6/2020,B.1.1.302,0,0.0,3
3,Angola,7/6/2020,B.1.1.519,0,0.0,3
4,Angola,7/6/2020,B.1.160,0,0.0,3
...,...,...,...,...,...,...
100411,Zimbabwe,11/1/2021,Omicron,0,0.0,6
100412,Zimbabwe,11/1/2021,S:677H.Robin1,0,0.0,6
100413,Zimbabwe,11/1/2021,S:677P.Pelican,0,0.0,6
100414,Zimbabwe,11/1/2021,others,0,0.0,6
100415,Zimbabwe,11/1/2021,non_who,0,0.0,6

In [9]:
# Importing my csv files
covid_df = pd.read_csv('Covid_data6.csv')
covid_df

,location,date,variant,num_sequences,perc_sequences,num_sequences_total
0,United States,5/11/2020,Alpha,0,0.00,5804
1,United States,5/11/2020,B.1.1.277,0,0.00,5804
2,United States,5/11/2020,B.1.1.302,0,0.00,5804
3,United States,5/11/2020,B.1.1.519,0,0.00,5804
4,United States,5/11/2020,B.1.160,0,0.00,5804
...,...,...,...,...,...,...
6355,Japan,12/27/2021,Omicron,118,77.12,153
6356,Japan,12/27/2021,S:677H.Robin1,0,0.00,153
6357,Japan,12/27/2021,S:677P.Pelican,0,0.00,153
6358,Japan,12/27/2021,others,0,0.00,153
6359,Japan,12/27/2021,non_who,0,0.00,153

In [15]:
# Merging all the csv files
merged_data = pd.merge(variants_df,covid_df, how = 'outer')

MergeError: No common columns to perform merge on. Merge options: left_on=None, right_on=None, left_index=False, right_index=False